<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/test.css">
        <script src="/javascripts/lib/jquery-min.js"></script>
        <script src="/javascripts/test.js"></script>
    </head>
    <body>

        <div id="head">

        </div>

        <div id="content">
            <div id="main">
                <!--main-->
            </div>

            <div id="right">
                <!--right-->
            </div>

            <div class="clear-both"></div>
        </div>

        <div id="foot">
            <!--foot-->
        </div>

    </body>
</html>